body{
    background-color: pink;
}

.heading{
    background-color:white;
    width: 70%;
    font-size: 30px;
}

.name_of_objects{
    color:yellow;
    font-size: 16px;
}

#camera{
    border: 2px dashed black;
}